
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Thin scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
  background-color: #112D4E; /* Scrollbar color */
  border-radius: 10px; /* Smooth rounded edges */
  border: 2px solid #f1f1f1; /* Optional padding-like effect */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optimize video rendering */
video {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* Remove any unwanted spacing */
html,
body {
  overflow-x: hidden;
  line-height: 1;
}
button#radix-\:r0\:-trigger-all {
  color: white;
}

@theme inline {
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.animate-scroll {
  animation: scroll var(--duration, 20s) linear infinite;
}

/* Prevent image flickering during animations */
.slider-image {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
